#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define MQTT_SERVER "your.hostname"
#define MQTT_PORT 8883
#define MQTT_PREFIX "prefix"
#define MQTT_USER "username"
#define MQTT_PASSWORD "password"
#define DEVICE_NAME "myDevice"
#define SSL_FINGERPRINT "XX XX XX XX ..."

#endif